.profile-img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
}

.shortlist-txt {
  color: green;
}

.reject-txt {
  color: red;
}

.action-container {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: auto;
}

.shortlist-btn {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  background-color: green;
  border: none;
  color: white;
  font-weight: 600;
}

.reject-btn {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  background-color: red;
  border: none;
  color: white;
  font-weight: 600;
}

.home-btn {
  width: 100px;
  height: 35px;
  border-radius: 6px;
  background-color: blue;
  border: none;
  color: white;
  font-weight: 600;
}
